* {
    box-sizing: border-box; 
}

.page-tite{
    text-align: center;
    font-size: 6em;
}

.game-info-container{
    grid-column: 1 /-1;
    display: flex;
    justify-content: space-between;
}
.game-info{
    font-size: 4em;
}

.game-container{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    perspective: 500px;
}
.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    backface-visibility: hidden;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}


.card-back{
    background-color: rgb(20, 220, 160);
    border-color: cyan;
    transform: rotateY(0); 
}

.card-value {
    position: relative;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
  }
  
  .card-front:hover .card-value {
    transform: scale(1);
  }
  
  .card-front {
    background-color: #FFBB89;
    border-color: #333;
    transform: rotateY(180deg);
  }